.flettefelt {
  background-color: #3385d1;
  color: #fff;

  @nest &:hover {
    cursor: pointer;
  }
}

.flettefeltIcon {
  composes: flettefelt;
  padding: 0 5px;
}

.submal {
  background-color: #b7b1a9;
  color: #000;

  @nest &:hover {
    cursor: pointer;
  }
}

.submalIcon {
  composes: submal;
  padding: 0 5px;
}

.valgfelt {
  background-color: #826ba1;
  color: #fff;

  @nest &:hover {
    cursor: pointer;
  }
}

.valgfeltIcon {
  composes: valgfelt;
  padding: 0 5px;
}
