.lenke {
  background-color: rgba(97, 78, 116, 0.3);
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

.delmal {
  background-color: rgba(183, 177, 100, 0.2);
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

.delmalIcon {
  padding: 0 5px;
}

.valgfelt {
  background-color: rgba(180, 106, 161, 0.5);
  color: #000;

  &:hover {
    cursor: pointer;
  }
}

.valgfeltIcon {
  padding: 0 5px;
}

.høyrestill {
  float: right;
}

span {
  background-color: inherit;
}
