name: Backup Routine

on:
  workflow_dispatch:
  schedule:
    # Runs at 04:00 UTC on the 1st and 17th of every month
    - cron: "0 4 */16 * *"

jobs:
  backup-ba-dataset:
    runs-on: ubuntu-latest
    name: Backup ba dataset
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4

      - name: Installer sanity
        run: yarn global add @sanity/cli && sanity install

      - name: Export ba dataset
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_VIEWER_TOKEN }}
        run: sanity dataset export ba-brev backups/ba-sak.tar.gz

      - name: Upload ba-sak.tar.gz
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          name: backup-ba
          path: backups/ba-sak.tar.gz
          # Fails the workflow if no files are found; defaults to 'warn'
          if-no-files-found: error

  backup-ef-dataset:
    runs-on: ubuntu-latest
    name: Backup ef dataset
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # ratchet:actions/checkout@v4

      - name: Installer sanity
        run: yarn global add @sanity/cli && sanity install

      - name: Export dataset
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_VIEWER_TOKEN }}
        run: sanity dataset export ef-brev backups/ef-sak.tar.gz

      - name: Upload ef-sak.tar.gz
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          name: backup-ef
          path: backups/ef-sak.tar.gz
          # Fails the workflow if no files are found; defaults to 'warn'
          if-no-files-found: error

      - name: Import ef dataset til ef-test
        env:
          SANITY_AUTH_TOKEN: ${{ secrets.SANITY_WRITE_TOKEN }}
        run: sanity dataset import backups/ef-sak.tar.gz ef-test --replace
